<% provide(:title, 'Edit user') %>
<h2>Update your profile</h2>

<p class ="todo">to do: Create simpler form for user update, add bio field, add picture upload to profile</p>

<div class = "pure-form pure-form-aligned">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages',object: f.object %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %><br> 
        <%= f.password_field :password %>
      </div>


      <%= f.submit "Save changes", class: "button" %>
    <% end %>
    <br/>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
</div>