<% provide(:title, 'All users') %>
<h2> List all users</h2>

<p class= "todo">To do : Add Pagination and better style </p>
<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user %>
      <%= link_to user.name, user %>
      <%= link_to user.email, user %>
      <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
       <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>