<% provide(:title, 'Little Bookmarks / Register') %>

<div class="clear"></div>
<div class = "left feature">
  <h1>Social and Private Bookmarks</h1>
  <br/>
  <p>Access your bookmarks from anywhere from <%= link_to 'anything', {:controller => 'statics', :action => 'help'}, :alt => 'I kid of course you need a pc, iphone, table, etc'%>.</p>
  <p>No ads, no bs!</p>

   <hr/>
 <p><strong>thanks</strong> for trying <%= link_to image_tag('baby-boy-icon.png'), root_path %> <strong>little bookmarks</strong>
 </p>
 <p>Currently the site is in a Beta stage, what this means is. I'm adding and removing features, doing a few experiments to make the site better.</p>
 <p>I'm shipping new features or fixing bugs daily.</p>
 <p><em>Note:</em> your bookmarks will not be <u>deleted</u></p>
 <hr> 
 <p> Last Commit: <strong>Wed 10/1/2014</strong></p> 


</div>
<% if signed_in? %>
<div class = "left feature">
<hr>
<p>I'll be adding a suggestion board in next few days. feel free to leave a comment </p>
</div>
<div class = "clear"></div>

<% else %>
  <div class = "right register pure-form pure-form-aligned">

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
        <br/>
        <span class="help-inline"><%#= @user.errors[:name] %></span>
      </div>

      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
        <br/>
        <span class="help-inline"><%#= @user.errors[:email] %></span>
      </div>

      <div class="field">
        <%= f.label :password %><br> 
        <%= f.password_field :password %>
        <br/>
        <span class="help-inline"><%#= @user.errors[:password] %></span>
      </div>


      <%= f.submit "Create my account", class: "create_account button" %>
    <% end %>
</div>

<div class="clear"></div>

<% end %>
