<% provide(:title, 'Register') %>

<div class="clear"></div>
<div class = "left feature">
  <h1>Social and Private Bookmarks</h1>
  <br/>
  <p>Fast and simple</p>
  <p>No ads, no bs</p>
   <hr/>
 <p>thanks for trying little bookmarks</p>
 <p>Currently the site it's on a Beta stage, what that means is. I'm adding and removing features, making a few experiments to make the site better.</p>
 <p>Once you save a bookmark we will no delete it unless you do.</p>
 <p>I'm shipping new features or fixing bugs daily.</p> 
 <p> Last Commit: <strong>Thu 8/7/2014 6:55pm</strong></p> 

</div>
<% if signed_in? %>
<div class = "left feature">
<hr>
<p>I'll be adding a suggestion board in next few days. feel free to leave a comment </p>
</div>
<div class = "clear"></div>

<% else %>
  <div class = "right register pure-form pure-form-aligned">

    <%= form_for(@user) do |f| %>
      <%#= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
        <span class="help-inline"><%= @user.errors[:name] %></span>
      </div>

      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
        <span class="help-inline"><%= @user.errors[:email] %></span>
      </div>

      <div class="field">
        <%= f.label :password %><br> 
        <%= f.password_field :password %>
        <span class="help-inline"><%= @user.errors[:password] %></span>
      </div>


      <%= f.submit "Create my account", class: "create_account button" %>
    <% end %>
</div>

<div class="clear"></div>

<% end %>
