<% provide(:title, @user.name) %>
<div class = "profile left">
  <h1>
    <%= gravatar_for @user %>
  </h1>
	 <p><%= @user.name.capitalize %></p>
	 <p>Joined <bold><%= @user.created_at.strftime("%B %d, %Y ") %></bold></p> 

	 <%= render 'follow_form' if signed_in? %>
	  
	<%#= link_to '+ Follow ', '#', :class => ' button green' %>
	<br/>
	<br/>
	<%= render 'shared/stats' %>
</div>

<div class = "right">


<% if @user.bookmarks.any? %>
	<!--
	<p>Bookmarks (<%#= @user.bookmarks.count %>)</p>
	-->
	<table class="table table-striped content">
	  <%= render @bookmarks %>
	</table>
	
	
<% end %>
<br/>
<%= will_paginate @bookmarks %>
</div>