<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/forms-min.css">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "header">
  <div class ="width">
      <div class ="left">
       <span class="beta">Beta</span>

       <br/>

      <span class="logo-color">
        <%= link_to 'little bookmarks', root_path, :class => 'logo' %>
      </span>

    </div>

    <div class ="right menu">
    <% if signed_in? %>
      <br/>
      <%= link_to "home", home_path %>
      <%= link_to "Users", users_path %>
      <%= link_to "Settings", edit_user_path(current_user) %>
      <%= link_to "Profile", current_user %>
      <%= link_to "Log out", logout_path, method: "delete" %>
    </div>

    
      <% else %>
      <br/>
      <%= link_to "Login", login_path, :class => 'green' %>
    <% end %>
  </div>

      <%#= link_to "Login", login_path, :class => 'button' %>

<div class="clear"></div>

<div class = "width content">
<br/>  

<% flash.each do |key, value| %>
   <div class="alert alert-<%= key %> close" data-dismiss="alert"><%= value %></div>
   <br/>
<% end %>

<%= yield %>
<br/>
<%#= debug(params) if Rails.env.development? %>
</div>

</body>
</html>